.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes float {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

body {
  font-family: 'Overpass';
  font-weight: 300;
  font-size: 16px;
}

.header {
  background: rgb(255,143,112);
  background: linear-gradient(112deg, rgba(255,143,112,1) 0%, rgba(255,61,84,1) 75%);
  border-radius: 0 0 0 50px;
}

.header__container {
  color: #fff;
  text-align: center;
  padding: 30px 40px;
  background-image: url(./assets/bg-pattern-intro.svg);
  background-size: 160%;
  background-position: 30% 50%;

}

.header__bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  animation: float 1s;
}

.header__nav {
  display: flex;
  flex-direction: row;
}

@media (max-width: 415px) {
  .header__bar {
    flex-direction: column;
    justify-content: center;
  }
  .logo{
    max-width: 150px;
  }
}

.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 15px;
}

.header__content{
  margin: 85px 0 125px;
  animation: float 2s;
}

.header__title {
  font-weight: 600;
  margin-block-end: .2em;
  font-size: 48px;
}

@media (max-width: 415px) {
  .header__title {
    font-size: 32px;
  }
}

.header__subtitle {
  font-weight: 300;
  margin-block-start: .4em;
}

.dropdowm{
  line-height: 2;
  margin: 5px 8px;
}

.dropdowm__link{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8); 
}
.dropdowm__link--active{
  color: #fff;
  text-decoration: underline;
}

@keyframes fadeIn {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

.dropdowm__content {
  visibility: hidden;
  background-color: #fff;
  padding: 10px 8px;
  position: absolute;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  animation-fill-mode: forwards;
}

.dropdowm__content--active {
  visibility: visible;
  animation-name: fadeIn;
  animation-duration: 1s;
}

.dropdowm__item {
  color: #4b5862;
  text-decoration: none;
  margin: 3px 0;
}

@keyframes Weight {
  0% {
    font-weight: 300;
  }
  100% {
    font-weight: 600;
  }
}

.dropdowm__item:hover {
  font-weight: 600;
  animation-name: Weight;
  animation-duration: .3s;
}

.button {
  cursor: pointer;
  justify-content: center;
  padding-bottom: calc(.5em - 1px);
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: calc(.5em - 1px);
  text-align: center;
  white-space: nowrap;
  -webkit-appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 1.5em;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  margin: 0 3px;
}

@keyframes ButtonPrimaryHover {
  from {
    background-color: #fff;
    border-color: #fff;
    color: #ff525d;
  }
  to {
    background-color: #ff7a85;
    border-color: #ff7a85;
    color: #fff;
  }
}

.button--primary {
  background-color: #fff;
  border-color: #fff;
  color: #ff525d;
}

.button--primary:hover {
  background-color: #ff7a85;
  border-color: #ff7a85;
  color: #fff;
  animation-name: ButtonPrimaryHover;
  animation-duration: .5s;
}

.button--link {
  background-color: transparent;
  color: #fff;
}

@keyframes ButtonLinkHover {
  from {border-color: transparent;}
  to {border-color: #fff;}
}

.button--link:hover {
  border-color: #fff;
  animation-name: ButtonLinkHover;
  animation-duration: .5s;
}

.button--outlined {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
}

@keyframes ButtonOutlinedHover {
  from {
    background-color: transparent;
    color: #fff;
  }
  to {
    background-color: #fff;
    color: #ff525d;
  }
}

.button--outlined:hover {
  background-color: #fff;
  color: #ff525d;
  animation-name: ButtonOutlinedHover;
  animation-duration: .5s;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 10px;
  align-items: center;
  margin: 75px auto;
  padding: 0 0 0 60px;
  color: #2c2d3f;
  font-weight: 300;
  max-width: 1500px;
  animation: float 2s;
}

.container--reverse {
  padding: 0 20px 0 0;
}

.container--alt {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(63,65,100,1) 20%, rgba(63,65,100,1) 85%, rgba(255,255,255,1) 85%);
  border-radius: 0 45%;
  color: #fff; 
}

.container__title {
  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  color: #1f3f5b;
  font-weight: 600;
  font-size: 36px;
}

.container__info--default {
  grid-area: 2 / 1 / 3 / 2;
}

.container__image--default {
  grid-area: 2 / 2 / 3 / 3;
  text-align: end;
}

.container__info--reverse {
  grid-area: 2 / 2 / 3 / 3;
}

.container__image--reverse {
  grid-area: 2 / 1 / 3 / 2;
  text-align: start;
}

.container__image img{
  max-width: 100%;
}

.container__image--alt {
  background-image: url(./assets/bg-pattern-circles.svg);
  background-size: 80%;
  background-position: -60% 30%;
  background-repeat: no-repeat;
}

@media (max-width: 415px) {
  .container {
    margin: 25px auto;
    text-align: center;
    padding: 0 10px;
  }
  .container__info {
    grid-area: 3 / 1 / 3 / 3;
  }
  
  .container__image {
    grid-area: 2 / 1 / 2 / 3;
  }
  .container--alt {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(63,65,100,1) 20%, rgba(63,65,100,1) 100%, rgba(255,255,255,1) 100%);
    border-radius: 0 50px;
    color: #fff; 
  }
  .container__image--alt {
    background-size: 90%;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

.section__title { 
  color: #1f3f5b;
  font-weight: 600;
  font-size: 24px;
}

.section__title--alt{
  color: #fff;
  margin-bottom: 5px ;
}

.footer {
  background-color: #25252d;
  color: #fff;
  padding: 45px 0 85px;
  border-radius: 0 50px 0 0;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
}
.footer__column {
  padding: 0 25px;
  display: flex;
  flex-direction: column;
}

.footer__title{
  margin-top: 10px;
  font-weight: 600;
}

.footer__item {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
}

@media (max-width: 415px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  .footer__logo {
    margin: 0 auto 20px;
    max-width: 180px;
  }
}

